    <div *ngIf="product.name" class="card productCard" >
        <img *ngIf="product.name"  [src]="product.imageUrl" class="card-img-top image" alt={{product.name}}>
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text" *ngIf="product.price">{{product.price | currency:'USD':'symbol'}}</p>
            <button 
                *ngIf="showActions" 
                (click)="addToCart(product.id)" 
                class="btn btn-primary btn-block"
            >
                Add to Cart
            </button>
            <button 
                *ngIf="showActions" 
                (click)="reduceQuantity(product.id)" 
                class="btn btn-primary btn-block"
            >
                remove
            </button>
            <!-- <div>{{getQuantity()}}</div> -->
            <button> {{getQuantity()}}</button>
        </div>
    </div>

